<%- include('layouts/header', {title: 'Página de Teste Minimalista'}) %>

<main>
    <h1>Página de Teste de Rota Simples</h1>
    
    <hr>
    
    <a href="/" class="btn-secundario">← Voltar</a>
</main>

<%- include('layouts/footer', {dados: typeof dados !== 'undefined' ? dados : {} }) %>